#include? "Secrets.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.digix.ios.dev
APP_DISPLAY_NAME = ios Dev
API_BASE_URL = https:/$()/dev-api.example.com
INFOPLIST_KEY_API_BASE_URL = $(API_BASE_URL)
APP_DEEPLINK_SCHEME = digix
INFOPLIST_KEY_CFBundleURLTypes = ( { CFBundleURLSchemes = ( $(APP_DEEPLINK_SCHEME) ); }, { CFBundleURLSchemes = ( $(GOOGLE_REVERSED_CLIENT_ID) ); } );
INFOPLIST_KEY_GOOGLE_CLIENT_ID = $(GOOGLE_CLIENT_ID)
INFOPLIST_KEY_GOOGLE_REVERSED_CLIENT_ID = $(GOOGLE_REVERSED_CLIENT_ID)
INFOPLIST_KEY_FIREBASE_API_KEY = $(FIREBASE_API_KEY)
INFOPLIST_KEY_FIREBASE_APP_ID = $(FIREBASE_APP_ID)
INFOPLIST_KEY_FIREBASE_GCM_SENDER_ID = $(FIREBASE_GCM_SENDER_ID)
INFOPLIST_KEY_FIREBASE_PROJECT_ID = $(FIREBASE_PROJECT_ID)
INFOPLIST_KEY_FIREBASE_STORAGE_BUCKET = $(FIREBASE_STORAGE_BUCKET)
APP_ENV = debug
