# Xcode
DerivedData/
.build/
*.xcuserstate
xcuserdata/
xcshareddata/
.DS_Store

# Swift Package Manager
Packages/
.package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Secrets
ios/config/Secrets.xcconfig

# Schemes
ios/ios.xcodeproj/xcshareddata/xcschemes/ios.xcscheme
