# Xcode
DerivedData/
.build/
*.xcuserstate
xcuserdata/

# Swift Package Manager
Packages/
.package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Secrets
ios/config/Secrets.xcconfig
